{% extends "layout.njk" %}

{% block content %}
    <section>
        <div class="container">
            <div class="banner">
                <div class="banner-info">
                    <h2>Gerenciar seu tempo nunca foi tão simples</h2>
                    <h3>Faça login e organize suas atividades</h3>
                </div>
            </div>
            <div class="img">
                <img src="banner-img.svg" alt="">
            </div>
            <p>Ainda não possui uma conta? Cadastre-se de forma gratuita e desfrute das nossas funcionalidades</p>
        </div>
    </div>
</section>
{% endblock content %}