{% extends "layout.njk" %}

{% block head%}
    <title>Lista de tarefas</title>
{% endblock %}

{% block header %}
    <header>
        <div class="links">
            <a href="/">Inicio</a>
            <a href="/">Sair da minha conta</a>
        </div>
    </header>
{% endblock %}

{% block content %}

    <main>
        <section class="adicionar">
            <div class="nova-tarefa">
                <h3>abaixo, insira os dados da sua tarefa.</h3>
                <p class="dados-obrigatorios">Campos que contém (*) são obrigatórios</p>

                <div>Tarefa(*)</div>
                <input type="text" id="tarefa" required="required">

                <div>Data de Entrega(*)</div>
                <input type="date" name="entrega" id="entrega" required="required">

                <div>Data de Conclusão</div>
                <input type="date" name="conclusao" id="conclusao">

                <button id="add">Adicionar</button>
            </div>

            <div id="msg"></div>
            <div id="tarefas" class="tarefas"></div>
        </section>
                </div>

            </section>
        </div>

    </section>
</main> 

    {% endblock content %}

    {% block scripts %}
        <script src="/lista.js"></script>
    {% endblock scripts %}


